<html lang='en'>
{{> head}}

<body class='index-page g-sidenav-show bg-gray-200 d-flex flex-column h-100'>

  {{> navbar}}

  <main class='flex-shrink-0'>
    {{{body}}}
  </main>

  {{> footer}}

</body>

</html>