<header class='bg-gradient-dark'>
  <div
    class='page-header min-vh-75'
    style="background-image: url('../assets/img/main_page_background.jpg');"
  >
    <span class='mask bg-gradient-dark opacity-8'></span>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-lg-8 text-center mx-auto my-auto'>
          <h1 class='text-white'>Make your private life secure</h1>
          <p class='lead mb-4 text-white opacity-8'>Our software offers a set of
            modern solutions for providing personal security and anony/mity on
            the network. We monitor innovations in IT security and networking
            technologies and implement them into our product.</p>
          <a href='/plans' class='btn bg-white text-dark'>Buy licence key</a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class='card card-body shadow-xl mx-3 mx-md-4 mt-n6'>
  <section class='py-7'>
    <div class='container'>
      <div class='row align-items-center'>
        <div class='col-lg-6'>
          <div class='row justify-content-start'>
            <div class='col-md-6'>
              <div class='info'>
                <i
                  class='material-icons text-3xl text-gradient text-info mb-3'
                >public</i>
                <h5>Usability</h5>
                <p>Simple web interface</p>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='info'>
                <i
                  class='material-icons text-3xl text-gradient text-info mb-3'
                >payments</i>
                <h5>Protocols</h5>
                <p>Supports proxy, shh proxy, vpn and wireguard protocols;</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>