<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-8 mx-auto mt-6'>
      <div class='row'>
        <div class='col-xs-12 col-sm-6'>
          <h1 class='h3 mb-5 mb-sm-6 c-bw-12'>
            Download a secure Linux image for your micro computers
          </h1>
          <div class='mb-6'>
            <div>
              <ul
                class='List base d-inline-block rtl-flip text-left List--custom'
              >
                <li class='ListItem'>
                  <div class='d-flex'>
                    <div>
                      <p class='Text fwm pb-4'>
                        Keep your internet as secure as it could be
                      </p>
                    </div>
                  </div>
                </li>
                <li class='ListItem'>
                  <div class='d-flex'>
                    <div>
                      <p class='Text fwm pb-4'>
                        Supports Raspberry PI platform
                      </p>
                    </div>
                  </div>
                </li>
                <li class='ListItem'>
                  <div class='d-flex'>

                    <div>
                      <p class='Text fwm'>
                        Eazy interface for fast use
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <a class='btn btn-primary' href='#' role='button' tabindex='0'>
            Download
          </a>

          <a
            class='btn btn-outline-dark'
            href='/plans'
            role='button'
            tabindex='0'
          >
            Buy Licence Key
          </a>

        </div>

        <div class='col-xs-12 col-sm-6 pt-7 pt-sm-0 relative'>
          <div
            class='relative center-block img-responsive'
            style='max-height:555px;max-width:555px; text-align:center;'
          >
            <img
              loading='lazy'
              src='https://upload.wikimedia.org/wikipedia/commons/4/49/Dell_Inspiron_One_23_Touch_AIO_Desktop_PC.png'
              style='width: 100%;'
              alt='Fastest VPN for Linux'
              class='img-responsive'
            />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>