<div class='row w-100 m-0'>
  <div class='content-wrapper full-page-wrapper d-flex align-items-center'>
    <div class='card col-lg-4 mx-auto'>
      <div class='card-body px-5 py-5'>
        <h3 class='card-title text-left mb-3'>Login</h3>
        <form
          role='form'
          class='text-start'
          action='/auth/signin'
          method='post'
        >
          <div class='input-group input-group-outline my-3'>
            <label class='form-label'>Username</label>
            <input name='username' type='text' class='form-control' />
          </div>
          <div class='input-group input-group-outline mb-3'>
            <label class='form-label'>Password</label>
            <input name='password' type='password' class='form-control' />
          </div>
          <div class='text-center'>
            <button
              type='submit'
              class='btn bg-gradient-dark w-100 my-4 mb-2'
            >Sign in</button>
          </div>
          <a class='mt-4 text-sm text-center' href='/registration'>
            Don't have an account?
          </a>
        </form>
      </div>
    </div>
  </div>
</div>